CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
build/
*.sln
*.vcxproj
*.vcxproj.filters
*.cmake

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.out
messenger_service

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual C++ intermediate and debug files
*.ilk
*.pdb

/github-access-token.txt